* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #333;
    --secondary-color: #c6ce00;
    --text-color1: #000;
    --text-color2: #fff;
    --detail-color1: #b2b2b2;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}

header,
nav,
nav ul a,
footer {
    color: var(--text-color2);
}

/* Section Header */

header {
    grid-column: 1 / 4;
    background-color: var(--primary-color);
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--text-color1);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    padding: 1rem;
}

nav a:hover {
    color: var(--text-color1);
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

header span {
    color: var(--secondary-color);
}

/* Section Main */

main,
aside {
    border: var(--detail-color1) solid 1px;
    border-radius: 16px;
}

main {
    grid-column: 1 / 2;
    grid-row: 2;
    margin-left: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

aside {
    position: relative;
}

main p,
aside ul {
    line-height: 1.5;
}

.li-content {
    padding: 1rem 1rem 1rem 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about-content,
.country-content {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

h2 {
    background-color: var(--primary-color);
    color: var(--text-color2);
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 1rem;
}

h3 {
    text-align: center;
    border-bottom: var(--detail-color1) solid 1px;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    border: var(--secondary-color) solid 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 0.2rem;
}

.about-me img {
    min-width: 150px;
    max-height: 200px;
}

.country img {
    min-width: 180px;
    max-width: 180px;
}

.image-container {
    max-width: 100%;
    height: auto;
    order: -1;
    text-align: center;
}

.caption {
    margin-top: 0.5rem;
    font-size: 0.80rem;
    font-style: italic;
}

/* Section Footer */

footer {
    grid-column: 1 / 4;
    grid-row: 3;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

#lastmodified {
    color: var(--secondary-color);
    font-style: italic;
}